.titolo{
    font-size: 50px;
}

.rect{
    display: flex;
    background-color: black;
}

#circle1{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#circle2{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#circle3{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#circle4{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#circle5{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.red{
    background-color: red;
}

.grey{
    background-color: grey;
}

#bottone{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    background: red;
    padding: 12px 102px;
    margin-top: 18px;
}